<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1>Voici les potins !</h1>
	<% gossips.each_with_index do |gossip, index| %>
    <p>
	    <h3><a href="/gossips/<%= index + 1 %>/"> Gossip <%= index + 1 %>	</a></h3>
	    <b>Auteur : </b></br>
	    <%= gossip.author %></br>
	    </br><b>Gossip : </b></br>
	    <%= gossip.content %></br>
	    </br><a href="">Editer le potin <%= index + 1 %></a>
    </p>
  <% end %>
</body>
</html>